.accordion {
    -fx-font-size: 14px;
    -fx-padding: 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.accordion .titled-pane {
    -fx-border-color: #2babc0;
    -fx-border-width: 1px;
    -fx-background-color: #3498db;
    -fx-text-fill: #34495e;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.accordion .titled-pane:focused {
    -fx-border-color: #2babc0;
    -fx-background-color: #3498db;
}

.accordion .titled-pane .arrow {
    -fx-background-color: #3498db;
}

.accordion .titled-pane .content {
    -fx-background-color: #f9ebea;
    -fx-padding: 0px;
}

.accordion .titled-pane:expanded {
    -fx-background-color: #f5b7b1;
    -fx-border-color: #2babc0;
}

.accordion .titled-pane:expanded .arrow {
    -fx-background-color: #c0392b;
}

.vbox {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-background-color: #2babc0;
}

.vbox .label {
    -fx-text-fill: #34495e;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-background-color: #f5b7b1;
    -fx-border-radius: 5px;
    -fx-border-color: #2babc0;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.vbox .label:hover {
    -fx-background-color: #2babc0;
    -fx-text-fill: white;
}

.vbox .label:selected {
    -fx-background-color: #2babc0;
    -fx-text-fill: white;
}
